<div class="contenedor">

  <div class="izquierda">
    <div class="container">

      <h1 class="sm:text-4xl md:text-4xl xl:text-6xl">
        {{ nBooks }} libros disponibles
      </h1>

      <menu-component [genres]="getGenres"/>

      <div class="grid pt-8">
        <div *ngFor="let book of getBooks"
          class="col-3">
          <div (click)="addToList(book)">
            <card-component [book]="book"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="derecha vertical-align-middle" >
    <div class="scrollStatic">
      <div class="container">

        <div *ngIf="getBookList.length > 0">
          <mat-card-content class="custom-card" >
            <div class="grid bm-8 pt-2">
              <div *ngFor="let book of getBookList"
                class="col-3">
                <div (click)="addToBooks(book)">
                  <card-component [book]="book"/>
                </div>
              </div>
            </div>
          </mat-card-content>
        </div>

      </div>
    </div>
  </div>

</div>

