<div class="grid">

  <div class="col">
    <label>Filtrar por páginas</label>
    <mat-slider #sliderElement min="0" max="2000" step="100" showTickMarks discrete [displayWith]="formatLabel">
      <input matSliderThumb (input)="onInputChange($event)">
    </mat-slider>
  </div>

  <div class="col">
    <label>Seleccionar por género</label>
    <mat-form-field>
      <mat-label>Selecciona una opción</mat-label>
      <mat-select>
        <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
